<html lang="en">

<head>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-160631403-3');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#e1306c" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta name="description" content="Download instagram images/videos for free with no Ads" />
    <title>IG Download</title>
</head>

<body>
    <header class="header">
        <h1 class="heading">IG Download</h1>
        <h2 class="sub-heading">
            Download instagram images/videos
        </h2>
        <div>
            <form action="/" method="post">
                {% csrf_token %}
                <center>
                    <input type="text" name="url" class="input-url" placeholder="Paste the url here..." />
                    <button class="submit-btn" type="submit">Download</button>
                </center>
            </form>
        </div>
    </header>
    {% if mdata %}
    <script>location.href = "#download"</script>
    <section id="download">
        <h1 style="font-size: 40px;">Download Media</h1>
        <div class="flex-container">
            {% for x in mdata %}
            <div>
                <img src="{% url 'show_image' x %}" onerror="removeImage(this)" alt="x" class="image">
                <video src="{{x}}" onerror="removeImage(this)" class="video" controls></video>
                <br>
                <form action="/download_image" method="get">
                    <input type="hidden" name="url" value="{{x}}">
                    <button type="submit" class="download-btn">Download</button>
                </form>
                <br>
            </div>
            {% endfor %}
        </div>
    </section>
    {% else %}
    {% if request.method == 'POST' %}
    <h2 class="sub-heading" style="margin-top: 10%; color: red;">
        Invalid Url
    </h2>
    {% endif %}
    {% endif %}
    <div class="nothing">
    </div>
    <footer>
        <p>Created with love by <a href="#" target="_blank">atulg</a>.</p>
    </footer>
    <script src="/static/js/index.js"></script>
    <script>
        function removeImage(img) {
            img.remove();
        }
    </script>

</body>

</html>